* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.emoji {
    display: inline-block;
    background-color: rgb(74, 74, 252);
    width: 100px;
    height: 25px;
    padding: 5px;
    border: black solid;
}
body {
    background-color: black;
}
