* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

.emoji {
    display: inline-block;
    background-color: rgb(74, 74, 252);
    width: 125px;
    height: 40px;
    padding: 10px;
    border: black solid;
    cursor: pointer;
    border: rgb(255, 255, 255) solid;
}
body {
    background-color: black;
}
